
@{
    ViewBag.Title = "Order_Customer";
    Layout = "~/Views/Shared/_Layout_ANVI.cshtml";
}

@section topCSS
{
    <link href="~/Assets/css/Order_Customer.css" rel="stylesheet" />
}
@section endJS
{
    <script src="~/Assets/js/Order_Customer.js"></script>
}
@*此頁不會出現header!*@

<div class="content">
    <div class="wrap">
        <div class="leftview">
            <div class="main">
                <div class="main__header">
                    <a href="#" class="logo">
                        <img src="~/Assets/images/otherphoto/ANVI_LOGO120.png" alt="ANVI" class="logo_image">
                    </a>
                    <!-- <h1 class="">客戶資訊</h1> -->
                    <ul class="bread-crumb">
                        <li class="breadcrumb__item">
                            <a href="/cart" class="breadcrumb__link">購物車</a><i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="breadcrumb__item"><span class="breadcrumb__text">客戶資訊</span><i class="fas fa-chevron-right"></i></li>
                        <li class="breadcrumb__item"><span class="breadcrumb__text">運送方式</span><i class="fas fa-chevron-right"></i></li>
                        <li class="breadcrumb__item"><span class="breadcrumb__text">付款方式</span></li>
                    </ul>
                </div>
                <div class="main__content">
                    <div class="step">
                        <form action="/Home/Order_Customer" class="edit_checkout" method="post">
                            <div class="step__sections">
                                <div class="section">
                                    <div class="section__header">
                                        <div class="layout-flex">
                                            <h2 id="main-header" class="section__title">客戶資訊</h2>
                                            <p class="layout-flex__item">
                                                <span>已擁有帳號?</span>
                                                <a href="#">登入</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="section_content">

                                    <!-- 會員登入後的樣子 -->
                                    <!--
                        <input value="XXXXXX@gmail.com" size="30" type="hidden" name="checkout[email]" id="checkout_email">
                        <div class="logged-in-customer-information">
                            <div class="logged-in-customer-information__avatar-wrapper">
                                <div class="logged-in-customer-information__avatar gravatar"></div>
                            </div>

                            <p class="logged-in-customer-information__paragraph">
                                <span class="page-main__emphasis">哭 碼</span>
                                <span>(XXXXXX@gmail.com)</span>
                                <br>
                                <a href="#">登出</a>
                            </p>
                        </div> -->
                                    <!-- 登入前的樣子 -->
                                    <div class="fieldset">
                                        <div class="field">
                                            <!-- <div class="field__input"><label for="" class="field__label">電子郵件</label> -->
                                            <input id="checkout_email" class="field__input" type="email" size="30" name="checkout[email]" placeholder="電子郵件">
                                        </div>
                                    </div>
                                </div>
                                <div class="fieldset-description">
                                    <div class="section__content">
                                        <div class="checkbox-wrapper">
                                            <div class="checkbox__input">
                                                <input id="check_buyer_accepts_marketing" class="input-checkbox" type="checkbox" value="1" name="checkout[buyer_accepts_marketing]">
                                            </div>
                                            <label for="check_buyer_accepts_marketing" class="checkbox__label">訂閱我們</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="section__header">
                                    <h2 class="section__title">運送地址</h2>
                                </div>
                                <div class="section__content">
                                    <div class="fieldset">
                                        <div class="half-to">
                                            <div class="field field--half">
                                                <div class="field__input-wrapper">
                                                    <!-- <label class="field__label" for="checkout_shipping_address_last_name">姓氏</label> -->
                                                    <input type="text" class="field__input" placeholder="姓氏" size="30" name="checkout[shipping_address][last_name]" id="checkout_shipping_address_last_name">
                                                </div>
                                            </div>
                                            <div class="field field--half">
                                                <div class="field__input-wrapper">
                                                    <!-- <label class="field__label" for="checkout_shipping_address_first_name">姓名</label> -->
                                                    <input type="text" class="field__input" placeholder="姓名" size="30" name="checkout[shipping_address][first_name]" id="checkout_shipping_address_first_name">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="half-to">
                                            <div class="field field--required field--half-city field--show-floating-label" data-address-field="city" data-autocomplete-field-container="true">

                                                <div class="field__input-wrapper field__input-wrapper--select">
                                                    <!-- <label class="field__label field__label--visible" for="checkout_shipping_address_city">城市</label> -->
                                                    <select size="1" class="field__input field__input--select" aria-required="true" name="checkout[shipping_address][city]" id="checkout_shipping_address_city">
                                                        <option disabled="disabled" value="---">請選擇</option>
                                                        <option value="台北市"> 台北市 </option>
                                                        <option value="基隆市"> 基隆市 </option>
                                                        <option value="新北市"> 新北市 </option>
                                                        <option value="宜蘭縣"> 宜蘭縣 </option>
                                                        <option value="新竹市"> 新竹市 </option>
                                                        <option value="新竹縣"> 新竹縣 </option>
                                                        <option value="桃園縣"> 桃園縣 </option>
                                                        <option value="苗栗縣"> 苗栗縣 </option>
                                                        <option value="台中市"> 台中市 </option>
                                                        <option value="彰化縣"> 彰化縣 </option>
                                                        <option value="南投縣"> 南投縣 </option>
                                                        <option value="嘉義市"> 嘉義市 </option>
                                                        <option value="嘉義縣"> 嘉義縣 </option>
                                                        <option value="雲林縣"> 雲林縣 </option>
                                                        <option value="台南市"> 台南市 </option>
                                                        <option value="高雄市"> 高雄市 </option>
                                                        <option value="澎湖縣"> 澎湖縣 </option>
                                                        <option value="屏東縣"> 屏東縣 </option>
                                                        <option value="台東縣"> 台東縣 </option>
                                                        <option value="花蓮縣"> 花蓮縣 </option>
                                                        <option value="金門縣"> 金門縣 </option>
                                                        <option value="連江縣"> 連江縣 </option>
                                                    </select>

                                                    <div class="field__caret">
                                                        <svg class="icon-svg icon-svg--color-adaptive-lighter icon-svg--size-10 field__caret-svg" aria-hidden="true" focusable="false"> <use xlink:href="#caret-down"></use> </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="field field--half-city">
                                    <div class="field__input-wrapper">
                                        <label class="field__label">城市</label>
                                        <input type="text" class="field__input" id="checkout_shipping_address_city" placeholder="城市" size="30" name="checkout[shipping_address][city]">
                                    </div>
                                </div> -->
                                            <div class="field field--half-zip">
                                                <div class="field__input-wrapper">
                                                    <!-- <label class="field__label">郵遞區號</label> -->
                                                    <input type="text" class="field__input" id="checkout_shipping_address_zip" placeholder="郵遞區號" size="30" name="checkout[shipping_address][zip]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="field__input-wrapper">
                                                <!-- <label class="field__label">地址</label> -->
                                                <input type="text" class="field__input" id="checkout_shipping_address_address" placeholder="地址" size="30" name="checkout[shipping_address][address]">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="field__input-wrapper">
                                                <!-- <label class="field__label">電話</label> -->
                                                <input type="text" class="field__input" id="checkout_shipping_address_phone" placeholder="電話" size="30" name="checkout[shipping_address][phone]">
                                                <div id="phone_tooltip" class="field__icon">
                                                    <!-- <span id="tooltip-for-phone" class="tooltip">
                                            In case we need to contact you about your order.
                                        </span>
                                        <i class="fas fa-question-circle"></i> -->

                                                    <div class="field__icon-svg" data-toggle="tooltip" data-placement="top" title=' In case we need to contact you about your order.'>

                                                        <i class="fas fa-question-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="section">
                                <div class="section__content">
                                    <div class="checkbox-wrapper">
                                        <div class="checkbox__input">
                                            <input type="checkbox" value="1" name="checkout[remember_me]" id="checkout_remember_me" class="input-checkbox">



                                        </div>
                                        <label class="checkbox__label" for="checkout_remember_me">儲存資訊</label>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="step__footer">
                        <button id="continue_button" class="step__footer__continue-btn btn" type="submit" name="button">
                            <!-- loading ICON -->
                            <span class="btn__content">前往運送資訊</span>
                        </button>
                        <a href="/cart" class="step__footer__previous-link">
                            <i class="fas fa-chevron-left"></i><span class="step__footer__previous-link__content">回到購物車</span>
                        </a>
                    </div>
                </div>

                <!-- 一堆SPAN -->
                <div class="main__footer">
                    <div>
                        <ul class="policy-list">
                            <!-- 做跳出頁面 -->
                            <li class="policy-list__item">
                                <a aria-haspopup="dialog" href="Refund__policy.html">Refund policy</a>
                            </li>

                            <li class="policy-list__item">
                                <a aria-haspopup="dialog" href="Privacy__policy.html">Privacy policy</a>
                            </li>

                            <li class="policy-list__item">
                                <a aria-haspopup="dialog" href="Terms__of__service.html">Terms of service</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <div class="color-right">
            <div class="rightview">
                <div class="sidebar" role="complementary">
                    <!-- <div class="sidebar__header">
                     <a href="" class="logo">
                          <h1></h1>
                     </a>
                    </div> -->
                    <div class="sidebar__content">
                        <div id="order-summary" class="order-summary">
                            <div class="order-summary__sections">
                                <div class="order-summary__section order-summary__section--product-list">
                                    <div class="order-summary__section_content">
                                        <table class="product-table">
                                            <!-- <thead class="producy-table__header">
                                            <tr>
                                                <th><span>Product images</span></th>
                                                <th><span>資訊</span></th>
                                                <th><span>數量</span></th>
                                                <th><span>金額</span></th>
                                            </tr>
                                            </thead> -->


                                            <tbody>
                                                <tr class="product">
                                                    <td class="product__image">
                                                        <div class="product-thumbnail">
                                                            <div class="product-thumbnail__wrapper">
                                                                <img src="../ANVI/images/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg" class="product-thumbnail_image"></img>


                                                            </div>
                                                            <span class="product-thumbnail__quantity">1</span>
                                                        </div>
                                                    </td>
                                                    <td class="product__description">
                                                        <span class="product_description_name order-summary__emphasis">
                                                            金屬面側編浩石耳環(MINI)
                                                        </span>
                                                        <span class="product_description_variant order-summary__small-text">
                                                            Silver
                                                        </span>

                                                    </td>
                                                    <!--有一個TD序號 -->
                                                    <td class="product__price">
                                                        <span class=" .order-summary__emphasis">$1,185.01 TWD</span>
                                                    </td>
                                                </tr>


                                                <tr class="product">
                                                    <td class="product__image">
                                                        <div class="product-thumbnail">
                                                            <div class="product-thumbnail__wrapper">
                                                                <img src="~/Assets/images/otherphoto/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg" class="product-thumbnail_image"></img>


                                                            </div>
                                                            <span class="product-thumbnail__quantity">1</span>
                                                        </div>
                                                    </td>
                                                    <td class="product__description">
                                                        <span class="product_description_name order-summary__emphasis">
                                                            金屬面側編浩石耳環(MINI)
                                                        </span>
                                                        <span class="product_description_variant order-summary__small-text">
                                                            Silver
                                                        </span>

                                                    </td>
                                                    <!--有一個TD序號 -->
                                                    <td class="product__price">
                                                        <span class=" .order-summary__emphasis">$1,185.01 TWD</span>
                                                    </td>
                                                </tr>


                                            </tbody>

                                        </table>
                                        <!-- 查看更多 -->
                                    </div>
                                </div>


                                <div class="order-summary__section order-summary__section--discount">

                                    <!-- 禮品或折扣代碼 -->

                                    <form action="" class="edit__checkout">
                                        <div class="fieldset">
                                            <div class="field">
                                                <div class="field__input-btn-wrapper">
                                                    <div class="field__input-wrapper">
                                                        <input class="field__input" type="text" id="checkout_reduction_code" placeholder="禮卡 或 折扣代碼" size="30" name="checkout[reduction_code]">
                                                    </div>
                                                    <button class="btn field__input-btn btn--disabled" name="button" type="submit" disabled="disabled">
                                                        <!-- 應該寫JS控制 -->
                                                        <span class="btn__content">Apply</span>
                                                        <!-- loadingicon -->
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="order-summary__section">
                                    <table class="total-line-table">
                                        <thead></thead>
                                        <tbody class="total-line-table__tbody">

                                            <tr class="total-line total-line--subtotal">
                                                <th class="total-line__name" scope="row">小計</th>
                                                <td class="total-line__price">
                                                    <span class="order-summary__emphasis">$1,185.01 TWD</span>
                                                </td>
                                            </tr>
                                            <tr class="total-line total-line--shipping">
                                                <th class="total-line__name" scope="row">
                                                    運費

                                                </th>
                                                <td class="total-line__price">
                                                    <span class="order-summary__small-text">
                                                        下一步將計算費
                                                    </span>
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot class="total-line-table__footer">
                                            <tr class="total-line">
                                                <th class="total-line_name payment-sue-label" scope="row">
                                                    <span class="payment-due-label__total">
                                                        總計

                                                    </span>
                                                    <!-- <span class="payment-due-label__taxes order-summary__small-text">
                                                    稅:
                                                    <span>$56.43 TWD</span>
                                                        </span> -->
                                                </th>
                                                <td class="total-line__price payment-due">

                                                    <span class="payment-due__price">
                                                        $1,185.01 TWD

                                                    </span>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




