@{
    ViewBag.Title = "Order_Pay";
    Layout = "~/Views/Shared/_Layout_ANVI.cshtml";
}
@section topCSS
{
    <link href="~/Assets/css/Order_Customer.css" rel="stylesheet" />
    <link href="~/Assets/css/Order_Pay.css" rel="stylesheet" />
}

@section endJS
{
    <script src="~/Assets/js/Order_Pay.js"></script>
}
<div class="content">
    <div class="wrap">
        <div class="leftview">
            <div class="main">
                <div class="main__header">
                    <a href="#" class="logo">
                        <img src="~/Assets/images/otherphoto/ANVI_LOGO120.png" alt="ANVI" class="logo_image">
                    </a>
                    <!-- <h1 class="">客戶資訊</h1> -->
                    <ul class="bread-crumb">
                        <li class="breadcrumb__item">
                            <a href="/cart" class="breadcrumb__link">購物車</a><i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="breadcrumb__item"><span class="breadcrumb__text">客戶資訊</span><i class="fas fa-chevron-right"></i></li>
                        <li class="breadcrumb__item"><span class="breadcrumb__text">運送方式</span><i class="fas fa-chevron-right"></i></li>
                        <li class="breadcrumb__item"><span class="breadcrumb__text">付款方式</span></li>
                    </ul>
                </div>
                <div class="main__content">
                    <div class="step">
                        <form action="/Home/Order_ship" class="edit_checkout" method="post">
                            <!-- 有用input hidden去記表單 -->
                            <div class="step__sections">
                                <div class="section">
                                    <div class="content-box">
                                        <div class="content-box__row content-box__row--tight-spacing-vertical">
                                            <div class="review-block">
                                                <div class="review-block__inner">
                                                    <div class="review-block__label">Contact</div>
                                                    <div class="review-block__content">
                                                        <bdo dir="ltr">@ViewData["Email"]</bdo>
                                                    </div>
                                                </div>

                                                <div class="review-block__link">
                                                    <a href="" class="link--small">
                                                        <span aria-hidden="true">Cange</span>
                                                        <span class="visually-hidden">Change contact information</span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="review-block">
                                                <div class="review-block__inner">
                                                    <div class="review-block__label">Ship&nbspto</div>
                                                    <div class="review-block__content">
                                                        <address class="address address--tight">
                                                            @ViewData["Address"]
                                                        </address>
                                                        <!-- 不知道原本這邊為啥會有一個地址元素?不懂 -->
                                                    </div>
                                                </div>
                                                <div class="review-block__link">
                                                    <a href="" class="link--small">
                                                        <span aria-hidden="true">Cange</span>
                                                        <span class="visually-hidden">Change contact information</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section section--shipping-method">
                                    <div class="section__header">
                                        <h2 class="section__title">運送方式</h2>
                                    </div>
                                    <div class="section__content">
                                        <div class="content-box">
                                            <div class="content-box__row">
                                                <div class="radio-wrapper">
                                                    <label for="checkout_shipping_rate_id_shopify-free20shipping-0_00" class="radio__label">

                                                        <div class="radio__input">
                                                            <input type="radio" id="checkout_shipping_rate_id_shopify-free20shipping-0_00" class="input-radio" aria-label="FREE SHIPPING" name="checkout[shipping_rate][id]" checked="checked">
                                                        </div>

                                                        <span class="radio__label__primary">FREE SHIPPING</span>
                                                        <span class="radio__label__accessory">
                                                            <span class="content-box_emphasis">免費</span>
                                                        </span>
                                                    </label>

                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                </div>


                            </div>



                    </div>
                    <div class="step__footer">
                        <button id="continue_button" class="step__footer__continue-btn btn" type="submit" name="button">
                            <!-- loading ICON -->
                            <span class="btn__content">前往付款方式</span>
                        </button>
                        <a href="/Home/Order_Customer" class="step__footer__previous-link">
                            <i class="fas fa-chevron-left"></i><span class="step__footer__previous-link__content">返回客戶資訊</span>
                        </a>
                    </div>
                    </form>
                </div>
                <!-- 一堆SPAN -->
                <div class="main__footer">
                    <div>
                        <ul class="policy-list">
                            <!-- 做跳出頁面找時間用BOOTSTRAP MODAL套一套 -->
                            <li class="policy-list__item">
                                <a data-toggle="modal" data-target="#exampleModal" aria-haspopup="dialog" href="/Refund__policy.html">Refund policy</a>
                            </li>

                            <li class="policy-list__item">
                                <a aria-haspopup="dialog" href="/Privacy policy.html">Privacy policy</a>



                                @*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Modal title
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@







                            </li>

                            <li class="policy-list__item">
                                <a aria-haspopup="dialog" href="/Terms of service.html">Terms of service</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>


        </div>

        <div class="color-right">
            <div class="rightview">
                <div class="sidebar" role="complementary">
                    <!-- <div class="sidebar__header">
                     <a href="" class="logo">
                          <h1></h1>
                     </a>
                    </div> -->
                    <div class="sidebar__content">
                        <div id="order-summary" class="order-summary">
                            <div class="order-summary__sections">
                                <div class="order-summary__section order-summary__section--product-list">
                                    <div class="order-summary__section_content">
                                        <table class="product-table">
                                            <!-- <thead class="producy-table__header">
                                            <tr>
                                                <th><span>Product images</span></th>
                                                <th><span>資訊</span></th>
                                                <th><span>數量</span></th>
                                                <th><span>金額</span></th>
                                            </tr>
                                            </thead> -->


                                            <tbody>
                                                <tr class="product">
                                                    <td class="product__image">
                                                        <div class="product-thumbnail">
                                                            <div class="product-thumbnail__wrapper">
                                                                <img src="~/Assets/images/otherphoto/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg" class="product-thumbnail_image"></img>


                                                            </div>
                                                            <span class="product-thumbnail__quantity">1</span>
                                                        </div>
                                                    </td>
                                                    <td class="product__description">
                                                        <span class="product_description_name order-summary__emphasis">
                                                            金屬面側編浩石耳環(MINI)
                                                        </span>
                                                        <span class="product_description_variant order-summary__small-text">
                                                            Silver
                                                        </span>

                                                    </td>
                                                    <!--有一個TD序號 -->
                                                    <td class="product__price">
                                                        <span class=" .order-summary__emphasis">$1,185.01 TWD</span>
                                                    </td>
                                                </tr>


                                                <tr class="product">
                                                    <td class="product__image">
                                                        <div class="product-thumbnail">
                                                            <div class="product-thumbnail__wrapper">
                                                                <img src="~/Assets/images/otherphoto/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg" class="product-thumbnail_image"></img>


                                                            </div>
                                                            <span class="product-thumbnail__quantity">1</span>
                                                        </div>
                                                    </td>
                                                    <td class="product__description">
                                                        <span class="product_description_name order-summary__emphasis">
                                                            金屬面側編浩石耳環(MINI)
                                                        </span>
                                                        <span class="product_description_variant order-summary__small-text">
                                                            Silver
                                                        </span>

                                                    </td>
                                                    <!--有一個TD序號 -->
                                                    <td class="product__price">
                                                        <span class=" .order-summary__emphasis">$1,185.01 TWD</span>
                                                    </td>
                                                </tr>


                                            </tbody>

                                        </table>
                                        <!-- 查看更多 -->
                                    </div>
                                </div>


                                <div class="order-summary__section order-summary__section--discount">

                                    <!-- 禮品或折扣代碼 -->

                                    <form action="" class="edit__checkout">
                                        <div class="fieldset">
                                            <div class="field">
                                                <div class="field__input-btn-wrapper">
                                                    <div class="field__input-wrapper">
                                                        <input class="field__input" type="text" id="checkout_reduction_code" placeholder="禮卡 或 折扣代碼" size="30" name="checkout[reduction_code]">
                                                    </div>
                                                    <button class="btn field__input-btn btn--disabled" name="button" type="submit" disabled="disabled">
                                                        <!-- 應該寫JS控制 -->
                                                        <span class="btn__content">Apply</span>
                                                        <!-- loadingicon -->
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="order-summary__section">
                                    <table class="total-line-table">
                                        <thead></thead>
                                        <tbody class="total-line-table__tbody">

                                            <tr class="total-line total-line--subtotal">
                                                <th class="total-line__name" scope="row">小計</th>
                                                <td class="total-line__price">
                                                    <span class="order-summary__emphasis">$1,185.01 TWD</span>
                                                </td>
                                            </tr>
                                            <tr class="total-line total-line--shipping">
                                                <th class="total-line__name" scope="row">
                                                    運費

                                                </th>
                                                <td class="total-line__price">
                                                    <span class="order-summary__small-text">
                                                        下一步將計算運費
                                                    </span>
                                                </td>

                                            </tr>
                                        </tbody>
                                        <tfoot class="total-line-table__footer">
                                            <tr class="total-line">
                                                <th class="total-line_name payment-sue-label" scope="row">
                                                    <span class="payment-due-label__total">
                                                        總計

                                                    </span>
                                                    <!-- <span class="payment-due-label__taxes order-summary__small-text">
                                                    稅:
                                                    <span>$56.43 TWD</span>
                                                        </span> -->
                                                </th>
                                                <td class="total-line__price payment-due">

                                                    <span class="payment-due__price">
                                                        $1,185.01 TWD

                                                    </span>
                                                </td>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

