
@{
    ViewBag.Title = "ProductDetailPage";
}
@section topCSS
{
    <link href="~/Assets/css/ProductDetailPage.css" rel="stylesheet" />
}
@section endJS
{
    <script type="text/javascript" src="~/Assets/js/ProductDetailPage.js"></script>
}
<main id="main">
    <div id="SS-border" class="SS-border">
        <section class="section01 P-med">
            <div id="Product-main(W)" class="Pm-W_01">
                <div id="PG" class="PG_01">
                    <span id="ProductGallery" class="Anchor"></span>
                    <!--按鈕轉移位置-->
                    <div id="PS">
                        <!-- <div id="PS-dots" class="PS_01 PS-dots_01">
                            <div id="PSS" class="PSS_01">
                                <a class="PSS_Dot" href="#"></a>
                                <a class="PSS_Dot" href="#"></a>
                                <a class="PSS_Dot" href="#"></a>
                                <a class="PSS_Dot" href="#"></a>
                                <a class="PSS_Dot" href="#"></a>
                            </div>
                        </div> -->
                        @foreach (var image in Model.Images)
                        {
                            <div>
                                <img src="~/Assets/images/@Model.CategoryName/@image.ImgName" alt="@Model.Product.ProductName">
                            </div>
                        }
                        @*<div>
                                <img src="~/Assets/images/Rings/c_bf10070a-2fe0-4aca-8aaa-b4af42889cdf_700x.jpg" alt="">
                            </div>
                            <div>
                                <img src="~/Assets/images/Rings/c_2_7563982b-8284-4637-a92b-a3763e0256d3_700x.jpg" alt="">
                            </div>
                            <div>
                                <img src="~/Assets/images/Rings/C_3_ef589395-f96a-4215-8b61-841d4fc579cf_700x.jpg" alt="">
                            </div>*@
                    </div>
                    <div id="PSF">
                        <!-- 縮小的RWD -->
                        <div id="FV" class="FV_01">
                            <div id="FS" class="FS_01">
                                <div><img src="~/Assets/images/Rings/c_bf10070a-2fe0-4aca-8aaa-b4af42889cdf_700x.jpg" /></div>
                                <div><img src="~/Assets/images/Rings/c_2_7563 982b-8284-4637-a92b-a3763e0256d3_700x.jpg" /></div>
                                <div><img src="~/Assets/images/Rings/C_3_ef589395-f96a-4215-8b61-841d4fc579cf_700x.jpg" /></div>
                                <div><img src="~/Assets/images/Rings/c_bf10070a-2fe0-4aca-8aaa-b4af42889cdf_700x.jpg" /></div>
                                <div><img src="~/Assets/images/Rings/c_bf10070a-2fe0-4aca-8aaa-b4af42889cdf_700x.jpg" /></div>
                            </div>
                        </div>
                        <ol id="FPB" class="FPB_01">
                            <li class="dot is-sel"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                        </ol>
                    </div>

                </div>
                <div id="PI" class="PI_01">
                    <div id="P-info" class="P-info_01">
                        <div class="container">
                            <div id="P-Meta" class="P-Meta">
                                <h2 class="font-h6 font-Heading P-Meta-Vd">ANVI</h2>
                                <h1 class="font-h2 font-Heading">鋯石C字戒指</h1>
                                <div class="font-Heading P-Meta-PL">$900 TWD</div>
                            </div>
                            <form action="" method="post" class="P-Form">
                                <div id="PF-V">
                                    <div id="PF-O" class="PF-O PF-O-lab">
                                        <span>COLOR：</span>
                                        <button id="PFI-b" class="PFI-b_01">
                                            <span id="PFON">18KGold</span>
                                            <svg class="Icon ISA"></svg>
                                        </button>
                                    </div>
                                    <div id="PF-O_01" class="PF-O PF-O-lab">
                                        <span>
                                            Size：
                                            <button class="PFLL Text-s Link">Size chart</button>
                                        </span>
                                        <ul class="HorList HorList-spT">
                                            <li class="HL-Item">
                                                <input type="radio" id="option-1-0" name="option-1" value="5"
                                                       class="SizeSW-Radio" checked="checked">
                                                <label for="option-1-0" class="SizeSW">5</label>
                                            </li>
                                            <li class="HL-Item">
                                                <input type="radio" id="option-1-1" name="option-1" value="6"
                                                       class="SizeSW-Radio">
                                                <label for="option-1-1" class="SizeSW">6</label>
                                            </li>
                                            <li class="HL-Item">
                                                <input type="radio" id="option-1-2" name="option-1" value="7"
                                                       class="SizeSW-Radio">
                                                <label for="option-1-2" class="SizeSW">7</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="PF-O">
                                        <p class="PF-Invt Text-s">Only 3 pieces in stock!</p> <!-- 資料庫??JS?? -->
                                    </div>
                                </div>
                                <button class="PF-AddToCart Btn Btn-sec Btn-full">
                                    <span>Add to cart</span>
                                    <span class="Btn-SepDot">.</span>
                                    <span>$900 TWD</span>
                                </button>
                                <div id="S-pay-Btn" class="S-pay-Btn">
                                    <div>
                                        <button class="S-pay-Btn_btn S-pay-Btn_btn-unb">BUY IT NOW</button>
                                    </div>
                                </div>
                            </form>
                            <div id="P-Meta-Des" class="P-Meta-Des Rte">
                                <p>
                                    <strong>商品描述與細節</strong>
                                </p>
                                <p>
                                    <span>將簡約而質感主義貫徹於日常穿搭中，細緻的做工、純粹的造型飾品，擁有絕佳搭配性與優雅迷人韻味。</span>
                                </p>
                                <div>
                                    <ul>
                                        <li style="font-size: 10px">材質：純銀、1mm手工精鑲鋯石</li>
                                        <li style="font-size: 10px">顏色：18k金層</li>
                                        <li style="font-size: 10px">尺寸：5 / 6 / 7</li>
                                    </ul>
                                </div>
                            </div>
                            <!--跳轉位置-->
                            <!-- <div id="jump" class="P-QuickNav hid-pock">
                                <div class="P-QuickNav-W">
                                    <a role="button" class="font-Heading Link Link-sec" onclick="is_flipped()"
                                        href="#ProductAside">
                                        More information
                                        <svg class="Icon Icon--select-arrow-right" role="presentation"
                                            viewBox="0 0 11 18">
                                            <path d="M1.5 1.5l8 7.5-8 7.5" stroke-width="2" stroke="currentColor"
                                                fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
                                        </svg>
                                    </a>

                                    <a role="button" class="font-Heading Link Link-sec" onclick="is_flipped()"
                                        href="#ProductGallery">
                                        View images
                                        <svg class="Icon Icon--select-arrow-right" role="presentation"
                                            viewBox="0 0 11 18">
                                            <path d="M1.5 1.5l8 7.5-8 7.5" stroke-width="2" stroke="currentColor"
                                                fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div id="PA-shave" class="PA-shave_01">
                        <div id="PA-item"></div>
                    </div>
                </div>
                <div id="P-Aside" class="P-Aside">
                    <span id="ProductAside" class="Anchor"></span>
                    <!--按鈕轉移位置-->
                    <div id="P-Tabs" class="P-Tabs">
                        <div id="tran" class="Collapsible Collapsible-lar">
                            <button class="Collapsible-Btn font-h6 font-Heading" aria-expanded="false">
                                運送須知
                                <span></span>
                            </button>
                            <div id="CI_01" class="CI_01">
                                <div class="CC_01">
                                    <div class="Rte">
                                        <h2 style="text-align: center;"><strong>台灣地區運費與運送方式</strong></h2>
                                        <ul>
                                            <li>全台免運費</li>
                                            <li>出貨方式：宅配包裹</li>
                                            <li>出貨時間：依照訂單順序約3~5個工作天出貨，出貨後2~4天內送達。(配送時間皆不包含例假日)</li>
                                            <li>注意！收件地址請勿為郵政信箱。</li>
                                        </ul>
                                        <p style="text-align: center;"></p>
                                        <p style="text-align: center;"></p>
                                        <p style="text-align: center;"></p>
                                        <h2 style="text-align: center;"><strong>國際運費與運送方式</strong></h2>
                                        <ul>
                                            <li>
                                                中國：<ul>
                                                    <li>SF Express(順豐快遞)：NT.200元 / 消費滿NT.4500元免運費</li>
                                                </ul>
                                            </li>
                                            <li>
                                                香港：<ul>
                                                    <li>SF Express(順豐快遞)：NT.150元 / 消費滿NT.4500元免運費</li>
                                                </ul>
                                            </li>
                                            <li>
                                                其他地區：<ul>
                                                    <li>DHL Express，費用於結帳時自動計算。消費滿NT.4500元免運費</li>
                                                </ul>
                                            </li>
                                            <li>出貨時間：依照訂單順序約3~5個工作天出貨，出貨後2~7天送達。(配送時間皆不包含例假日)</li>
                                        </ul>
                                        <p style="text-align: center;">注意！收件地址請勿為郵政信箱。</p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="return" class="Collapsible Collapsible-lar">
                            <button class="Collapsible-Btn font-h6 font-Heading" aria-expanded="false">
                                退/換貨須知
                                <!--data-action="Collapsible_Btn_TF()" onclick="Collapsible_Btn_TF()"-->
                                <span></span>
                            </button>
                            <div class="CI_01">
                                <div class="CC_01">
                                    <div class="Rte">
                                        <h4></h4>
                                        <h2 style="text-align: center;">台灣顧客退換貨注意事項</h2>
                                        <p>
                                            消費者享有商品貨到後七天猶豫期(含例假日)的權益 (
                                            收到商品後隔天起算為第一天，含：如收件地址有管理員代收，則以管理員簽收的隔日起算)，欲退購者，請於七日內以郵件方式提出申請退/換貨，逾期恕不受理。
                                        </p>
                                        <p>
                                            退回的商品必須是全新狀態、且還原完整包裝 (含商品本體及包裝(袋、盒、紙卡)的完整性)，
                                            請勿缺漏任何配件、勿自行拆解檢查商品或損毀。包裝都屬於商品的一部分，遺失、毀損或缺件將可能影響您退貨的權益，也可能依照損毀程度扣除為回復原狀所必要的費用。&nbsp;
                                        </p>
                                        <p>退換貨須自行負擔運費 ，請在收到商品7日之內與客服人員聯繫，確認後再寄出，自行寄出者恕不受理。</p>
                                        <p>‧ 客服電話：(02)2755-5779，請於週一至週五9:30m至18:30pm來電。</p>
                                        <p>
                                            ‧ 客服信箱：<a href="mailto:service@anvistudios.com">service@anvistudios.com</a>
                                        </p>
                                        <p style="text-align: center;">****以上說明僅限台灣地區****</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div></div>
        </section>
    </div>
</main>



