@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC|Titillium+Web&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    background: #fff;
    line-height: 1.65;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main, section {
    display: block;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: top;
}

div {
    display: block;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-size: inherit;
    font-weight: inherit;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

    button, input[type="submit"] {
        padding: 0px;
        overflow: visible;
        background: transparent none repeat scroll 0% 0%;
        border: medium none;
        border-radius: 0px;
    }

    button, input[type="submit"] {
        padding: 0;
        overflow: visible;
        background: none;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
    }

    button, html input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0px;
}

input {
    line-height: normal;
    border-radius: 0;
}

body:not(.is-tabbing) button:focus, body:not(.is-tabbing) input:focus, body:not(.is-tabbing) select:focus, body:not(.is-tabbing) textarea:focus {
    outline: none;
}

:active {
    outline: none;
}

.Button {
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    z-index: 1;
}

    .Button[disabled], [disabled].shopify-payment-button__button--unbranded {
        /*.Button[disabled], [disabled].shopify-payment-button__button--unbranded, #shopify-product-reviews [disabled].spr-summary-actions-newreview, #shopify-product-reviews [disabled].spr-button-primary:not(input), #shopify-product-reviews input[disabled].spr-button-primary, #shopify-product-reviews .spr-pagination-prev>a[disabled], #shopify-product-reviews .spr-pagination-next>a[disabled]*/
        cursor: not-allowed;
    }

svg:not(:root) {
    overflow: hidden;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
}

td, th {
    padding: 0;
}

.Heading {
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    color: #1C1B1B;
    -webkit-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.u-h2, .Rte h2 {
    font-size: 20px;
}

.u-h1, .Rte h1 {
    font-size: 22px;
}

p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0;
}

.Link, .shopify-payment-button__more-options {
    -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.Rte li {
    padding: 5px 0;
}

.Rte p:not(:last-child), .Rte ul:not(:last-child), .Rte ol:not(:last-child) {
    margin-bottom: 1.6em;
}

.Rte p:last-child, .Rte blockquote:last-child, .Rte ul:last-child, .Rte ol:last-child, .Rte h1:last-child, .Rte h2:last-child, .Rte h3:last-child, .Rte h4:last-child, .Rte h5:last-child, .Rte h6:last-child {
    margin-bottom: 0;
}

.Rte a:not(.Button) {
    color: #6a6a6a;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(106, 106, 106, 0.6);
    text-decoration-color: rgba(106, 106, 106, 0.6);
    text-underline-position: under;
    -webkit-transition: color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
}

.Rte::after {
    content: '';
    display: block;
    clear: both;
}

.supports-hover .Link--secondary:hover, .Link--secondary.is-active {
    color: #6a6a6a;
}

.shopify-section--bordered {
    border-top: 1px solid #ddd;
}

    .shopify-section--bordered + .shopify-section--bordered {
        border-top: 1px solid #ddd;
    }

.product {
    position: relative;
    margin: 0 auto 50px auto;
    margin-left: auto;
    margin-right: auto;
}

.Container {
    margin: 0 auto;
    padding: 0 24px;
}

/*區塊--產品圖*/
.Product__Gallery {
    position: relative;
    margin-bottom: 20px;
}

.flickity-enabled {
    position: relative;
}

    .flickity-enabled.is-draggable {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.Carousel {
    position: relative;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: auto;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: -webkit-grab;
    cursor: grab;
}

    .flickity-enabled.is-draggable .flickity-viewport .is-P-down {
        /*.flickity-enabled.is-draggable .flickity-viewport .is-pointer-down*/
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Product__SlideItem {
    position: relative;
}

.Carousel__Cell {
    display: block;
    width: 100%;
}

.AspectRatio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

    .AspectRatio::before {
        content: '';
        display: block;
    }

    .AspectRatio::before {
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

.AspectRatio--withFallback {
    padding-bottom: 0 !important;
}

.Image--fadeIn {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.AspectRatio > img {
    max-height: 100%;
    max-width: 100%;
}

.AspectRatio--withFallback > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.AspectRatio > img, .no-js .AspectRatio > noscript img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.Image--lazyLoaded.Image--fadeIn {
    opacity: 1;
}

.Image__Loader {
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    margin: auto;
    pointer-events: none;
    background-color: #ddd;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

    .Image__Loader::after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 200%;
        background-color: #1c1b1b;
    }

.Carousel:not(.flickity-enabled) .Carousel__Cell:not(.is-selected) {
    display: none;
}

.flickity-page-dots {
    width: 100%;
    padding: 0;
    margin: 22px 0 0 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

    .flickity-page-dots .dot {
        position: relative;
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 0 6px;
        border-radius: 50%;
        cursor: pointer;
        background: transparent;
        border: 1px solid #ddd;
        -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    }

        .flickity-page-dots .dot::before {
            position: absolute;
            content: '';
            top: -6px;
            right: -6px;
            left: -6px;
            bottom: -6px;
        }

        .flickity-page-dots .dot.is-selected {
            background: currentColor;
            border-color: currentColor;
        }

/*價錢、規格*/
.Product__Info {
    max-width: 500px;
    margin: 0 auto;
}

.ProductMeta {
    text-align: center;
}

.ProductMeta__Vendor {
    margin-bottom: 20px;
}

.ProductMeta__PriceList {
    margin-top: 15px;
}

.Price {
    display: inline-block;
}

.u-h4, .Rte h4 {
    font-size: 16px;
}

.ProductForm {
    margin-top: 24px;
}

.SizeSwatch__Radio {
    display: none;
}

.HorizontalList {
    list-style: outside none none;
    margin: -6px -8px;
}

.HorizontalList--spacingTight {
    margin-left: -8px;
    margin-right: -8px;
}

.HorizontalList__Item {
    display: inline-block;
    margin: 6px 8px;
}

.HorizontalList--spacingTight .HorizontalList__Item {
    margin-right: 8px;
    margin-left: 8px;
}

.SizeSwatch {
    display: inline-block;
    text-align: center;
    min-width: 36px;
    padding: 6px 10px;
    border: 1px solid #ddd;
    color: #6a6a6a;
    cursor: pointer;
}

    .SizeSwatch.is-active::after, .SizeSwatch__Radio:checked + .SizeSwatch {
        border-color: #1c1b1b;
        color: #1c1b1b;
    }

.Button__SeparatorDot {
    display: inline-block;
    margin: 0 18px;
    content: '';
    height: 3px;
    width: 3px;
    border-radius: 100%;
    background: currentColor;
}

.shopify-payment-button {
    margin-top: 20px;
    text-align: center;
}

.shopify-payment-button__button {
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    width: 100%;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.shopify-payment-button__button--unbranded {
    background-color: #1990c6;
    padding: 1em 2em;
}

.ProductMeta__Description {
    margin: 24px 0;
    padding-top: 24px;
    border-top: 1px solid #ddd;
    text-align: left;
}

/*分享*/
.PA-shave_01 {
    /*Product__ActionList hidden-pocket*/
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}

/*位置跳轉*/
.P-QuickNav {
    /*Product__QuickNav*/
    position: relative;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.P-QuickNav-W {
    /*Product__QuickNavWrapper*/
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*跟3D 相關，雖然不懂關3D啥事*/
}

.P-QuickNav.is-flipped .P-QuickNav-W {
    /*.Product__QuickNav.is-flipped .Product__QuickNavWrapper*/
    /* -webkit-transform: rotateX(180deg); */
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.P-QuickNav a {
    display: block;
    padding: 11px 16px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

    .P-QuickNav a:last-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

.P-QuickNav svg {
    position: absolute;
    right: 18px;
    top: calc(50% - 5px);
    height: 10px;
    width: 8px;
}

/*運貨、退換貨*/
.Product__Aside {
    max-width: 500px;
    margin: 0 auto;
}

.Anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.Anchor {
    top: calc(-1 * (var(--header-height)));
}

.Product__Tabs {
    margin: 50px 0;
}

.Collapsible {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.Collapsible__Button {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    cursor: pointer;
}

.u-h6, .Rte h6 {
    font-size: 13px;
}

.Collapsible__Content {
    padding-bottom: 18px;
}

.Collapsible__Inner {
    display: block;
    height: 0;
    visibility: hidden;
    -webkit-transition: height 0.35s ease-in-out, visibility 0s ease-in-out 0.35s;
    transition: height 0.35s ease-in-out, visibility 0s ease-in-out 0.35s;
    overflow: hidden;
}

.Collapsible__Button[aria-expanded="true"] + .Collapsible__Inner {
    visibility: visible;
    -webkit-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
}

.Container {
    margin: 0px auto;
    padding: 0px 24px;
}

.ProductForm__Item {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 10px 28px 10px 14px;
    border: 1px solid #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ProductForm__Option {
    position: relative;
    margin-bottom: 10px;
}

.ProductForm__Option--labelled {
    margin-bottom: 20px;
}

.HorizontalList__Item {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}

.Icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    stroke-width: 1px;
    background: transparent none repeat scroll 0% 0%;
    pointer-events: none;
}

.ProductForm__Item .Icon--select-arrow {
    position: absolute;
    top: calc(50% - 5px);
    right: 15px;
    width: 10px;
    height: 10px;
}

.ProductForm__LabelLink {
    float: right;
    text-decoration: underline;
    text-underline-position: under;
}

.Text--subdued {
    color: #6a6a6a;
}

.Link {
    -webkit-transition: color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}

.ProductForm__Inventory {
    margin-top: 8px;
    font-style: italic;
}

.ProductForm__AddToCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Button--full {
    width: 100%;
}

.Button--secondary {
    color: #6A6A6A;
    border: 1px solid rgba(106, 106, 106, 0.2);
}

/*選顏色*/
.VariantSelector {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 24px 0;
    z-index: 10;
    -webkit-box-shadow: 0 -2px 10px rgba(54, 54, 54, 0.2);
    box-shadow: 0 -2px 10px rgba(54, 54, 54, 0.2);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
    /* -webkit-transition: visibility 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
    /* transition: visibility 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
    /* transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),visibility 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

    .VariantSelector[aria-hidden="false"] {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }

.flickity-enabled {
    position: relative;
}

.flickity-enabled {
    -webkit-tap-highlight-color: transparent;
}

.Carousel {
    position: relative;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: auto;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Carousel__Cell {
    display: block;
    width: 100%;
}

.VariantSelector__Item {
    padding: 0 10px;
    width: 60%;
}

.AspectRatio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.AspectRatio--withFallback {
    padding-bottom: 0 !important;
}

.AspectRatio::before {
    content: '';
    display: block;
}

.AspectRatio::before {
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.Image--fadeIn {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.AspectRatio > img {
    max-height: 100%;
    max-width: 100%;
}

.AspectRatio--withFallback > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.AspectRatio > img, .no-js .AspectRatio > noscript img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.Image--lazyLoaded.Image--fadeIn {
    opacity: 1;
}

.Image__Loader {
    position: absolute;
    display: block;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    margin: auto;
    pointer-events: none;
    background-color: #ddd;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

    .Image__Loader::after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 200%;
        background-color: #1c1b1b;
    }

.flickity-page-dots {
    width: 100%;
    padding: 0;
    margin: 22px 0 0 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

    .flickity-page-dots .dot {
        position: relative;
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 0 6px;
        border-radius: 50%;
        cursor: pointer;
        background: transparent;
        border: 1px solid #ddd;
        -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    }

        .flickity-page-dots .dot.is-selected {
            background: currentColor;
            border-color: currentColor;
        }

        .flickity-page-dots .dot::before {
            position: absolute;
            content: '';
            top: -6px;
            right: -6px;
            left: -6px;
            bottom: -6px;
        }

/*選擇顏色-下*/
.VariantSelector__Info {
    position: relative;
    margin: 48px 24px 0 24px;
}

.VariantSelector__ChoiceList {
    margin-bottom: 34px;
}

.VariantSelector__Choice {
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-animation: 0.15s variantSelectorInfoClosingAnimation forwards ease-in-out;
    animation: 0.15s variantSelectorInfoClosingAnimation forwards ease-in-out;
}

    .VariantSelector__Choice.is-selected {
        -webkit-animation: 0.3s variantSelectorInfoOpeningAnimation forwards ease-in-out;
        animation: 0.3s variantSelectorInfoOpeningAnimation forwards ease-in-out;
    }

.VariantSelector__ChoiceColor, .VariantSelector__ChoicePrice {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.VariantSelector__ChoiceColor {
    border-right: 1px solid #ddd;
}

.VariantSelector__ColorSwatch {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    vertical-align: sub;
    background-size: cover;
}

.VariantSelector__ChoiceColor, .VariantSelector__ChoicePrice {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.VariantSelector__ChoicePrice {
    font-size: 11px;
}

.Heading {
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.Text--subdued {
    color: #6a6a6a;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

    button, input[type="submit"] {
        padding: 0;
        overflow: visible;
        background: none;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
    }

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.Button, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input), #shopify-product-reviews input.spr-button-primary, #shopify-product-reviews .spr-pagination-prev > a, #shopify-product-reviews .spr-pagination-next > a {
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
}

.Button--primary, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input) {
    color: #fff;
    border-color: #1c1b1b;
}

.Button--full {
    width: 100%;
}

body:not(.is-tabbing) button:focus, body:not(.is-tabbing) input:focus, body:not(.is-tabbing) select:focus, body:not(.is-tabbing) textarea:focus {
    outline: none;
}

@media not all, (hover: hover) {
    .Button--primary:not([disabled]):hover, .shopify-payment-button__button--unbranded:not([disabled]):hover, #shopify-product-reviews .spr-summary-actions-newreview:not([disabled]):hover, #shopify-product-reviews .spr-button-primary:not([disabled]):hover:not(input) {
        color: #1c1b1b;
        background-color: transparent;
    }
}

.Button::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before, #shopify-product-reviews input.spr-button-primary::before, #shopify-product-reviews .spr-pagination-prev > a::before, #shopify-product-reviews .spr-pagination-next > a::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
}

.Button--primary::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before {
    background-color: #1c1b1b;
}

@media not all, (hover: hover) {
    .Button:not([disabled])::before, .shopify-payment-button__button--unbranded:not([disabled])::before, #shopify-product-reviews .spr-summary-actions-newreview:not([disabled])::before, #shopify-product-reviews .spr-button-primary:not(input):not([disabled])::before, #shopify-product-reviews input.spr-button-primary:not([disabled])::before, #shopify-product-reviews .spr-pagination-prev > a:not([disabled])::before, #shopify-product-reviews .spr-pagination-next > a:not([disabled])::before {
        -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .Button:not([disabled]):hover::before, .shopify-payment-button__button--unbranded:not([disabled]):hover::before, #shopify-product-reviews .spr-summary-actions-newreview:not([disabled]):hover::before, #shopify-product-reviews .spr-button-primary:not(input):not([disabled]):hover::before, #shopify-product-reviews input.spr-button-primary:not([disabled]):hover::before, #shopify-product-reviews .spr-pagination-prev > a:not([disabled]):hover::before, #shopify-product-reviews .spr-pagination-next > a:not([disabled]):hover::before {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
}

/*size對照表*/
[data-scrollable] {
    overflow: auto;
}

.Modal {
    /*.Modal*/
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 480px;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 40px);
    padding: 15px 20px 20px 20px;
    z-index: 20;
    opacity: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.Modal {
    max-height: calc(var(--window-height) - 40px);
}

.Modal--dark {
    background: #1c1b1b;
    color: #fff;
}

.Modal--fullScreen {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: none;
    transform: none;
}

.Modal--pageContent {
    padding: 60px 0 50px 0;
}

.Modal[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}

.Modal__Header {
    margin-bottom: 30px;
    text-align: center;
}

.Modal .Heading:not(.Link) {
    color: inherit;
}

.Container--extraNarrow {
    max-width: 800px;
}

.TableWrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Table, .Rte table {
    width: 100%;
    font-size: 12px;
    border-collapse: separate;
    white-space: nowrap;
}

.Modal__Content th, .Modal__Content td {
    border-color: rgba(255, 255, 255, 0.25) !important;
}

.Modal__Content thead th:empty, .Modal__Content tbody th {
    background: #1c1b1b !important;
}

.Table th, .Rte table th, .Table td, .Rte table td {
    padding: 18px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.Table th, .Rte table th {
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

    .Table th:first-child, .Rte table th:first-child, .Table td:first-child, .Rte table td:first-child, .Table tfoot td:empty + td, .Rte table tfoot td:empty + td {
        padding-left: 0;
    }

.Table thead th:first-child:empty, .Rte table thead th:first-child:empty, .Table tbody th:first-child, .Rte table tbody th:first-child {
    /*.Table thead th:first-child:empty, .Rte table thead th:first-child:empty, .Table tbody th:first-child, .Rte table tbody th:first-child*/
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    min-width: 40px;
    max-width: 100px;
    z-index: 1;
    background: #fff;
    white-space: normal;
}

.Table tbody th:first-child, .Rte table tbody th:first-child {
    border-right: 1px solid #ddd;
}

.RoundButton {
    /*.RoundButton, .flickity-prev-next-button*/
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #1c1b1b;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    vertical-align: middle;
    line-height: 0;
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
    /* -webkit-transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; */
    /* transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; */
    /* transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out; */
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    overflow: hidden;
}

.RoundButton--large {
    width: 55px;
    height: 55px;
}

.Modal__Close {
    display: block;
    margin: 25px auto 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.RoundButton svg {
    /*.RoundButton svg, .flickity-prev-next-button svg*/
    height: 15px;
    width: 15px;
    fill: currentColor;
}

.RoundButton--large svg {
    height: 15px;
    width: 15px;
}

/*字太多、可能影響大*/
.Button, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview {
    /*.Button, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input), #shopify-product-reviews input.spr-button-primary, #shopify-product-reviews .spr-pagination-prev>a, #shopify-product-reviews .spr-pagination-next>a*/
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
}

.Button--primary, .shopify-payment-button__button--unbranded {
    /*.Button--primary, .shopify-payment-button__button--unbranded, #shopify-product-reviews .spr-summary-actions-newreview, #shopify-product-reviews .spr-button-primary:not(input)*/
    color: #fff;
    border-color: #1c1b1b;
}

    .Button::before, .shopify-payment-button__button--unbranded::before {
        /*.Button::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before, #shopify-product-reviews input.spr-button-primary::before, #shopify-product-reviews .spr-pagination-prev>a::before, #shopify-product-reviews .spr-pagination-next>a::before*/
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: left center;
        transform-origin: left center;
        z-index: -1;
    }

    .Button--primary::before, .shopify-payment-button__button--unbranded::before {
        /*.Button--primary::before, .shopify-payment-button__button--unbranded::before, #shopify-product-reviews .spr-summary-actions-newreview::before, #shopify-product-reviews .spr-button-primary:not(input)::before*/
        background-color: #1c1b1b;
    }

.ProductForm ~ .ProductMeta__Description {
    border-top: none;
    padding-top: 0;
}

@media not all, (hover: hover) {
    .Button:not([disabled])::before, .shopify-payment-button__button--unbranded:not([disabled])::before {
        /*.Button:not([disabled])::before, .shopify-payment-button__button--unbranded:not([disabled])::before, #shopify-product-reviews .spr-summary-actions-newreview:not([disabled])::before, #shopify-product-reviews .spr-button-primary:not(input):not([disabled])::before, #shopify-product-reviews input.spr-button-primary:not([disabled])::before, #shopify-product-reviews .spr-pagination-prev>a:not([disabled])::before, #shopify-product-reviews .spr-pagination-next>a:not([disabled])::before {*/
        -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .RoundButton:hover {
        /*.RoundButton:hover, .flickity-prev-next-button:hover*/
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .RoundButton:not([aria-expanded="true"]):hover {
        /*.RoundButton:not([aria-expanded="true"]):hover, .flickity-prev-next-button:not*/
        color: #1c1b1b;
    }

    .RoundButton[data-animate-bottom]:hover svg {
        /*.RoundButton[data-animate-bottom]:hover svg, [data-animate-bottom].flickity-prev-next-button:hover svg*/
        -webkit-animation: buttonFromTopToBottom 0.5s ease-in-out forwards;
        animation: buttonFromTopToBottom 0.5s ease-in-out forwards;
    }
}

.Button--secondary::before {
    /*.Button--secondary::before, #shopify-product-reviews .spr-pagination-prev>a::before, #shopify-product-reviews .spr-pagination-next>a::before*/
    background-color: #1c1b1b;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.Button--secondary {
    /*.Button--secondary, #shopify-product-reviews .spr-pagination-prev>a, #shopify-product-reviews .spr-pagination-next>a*/
    color: #6a6a6a;
    border: 1px solid rgba(106, 106, 106, 0.2);
}

@media screen and (min-width: 1500px) {
    .Product__Wrapper {
        max-width: calc(100% - 500px);
    }
}

@media screen and (min-width: 1240px) {
    .Product__Slideshow {
        padding-top: 0;
    }

    .Product__Gallery--stack.Product__Gallery--withDots .Product__Slideshow {
        padding-top: 0;
    }

    .Product__Wrapper {
        max-width: calc(100% - 550px);
    }

    .Container {
        padding: 0 80px;
    }
    /* .Product__Gallery--stack.Product__Gallery--withDots .Product__Slideshow {
        padding-top: 0;
    } */
    .Product--medium {
        max-width: 1300px;
    }
    /*Size*/
    .Table, .Rte table {
        white-space: normal;
    }
}

@media screen and (min-width: 1008px) {
    .Product__Gallery--stack .Product__SlideshowNav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
    }

    .Product__Wrapper {
        max-width: calc(100% - 525px);
        margin-left: 0;
    }

    .Product__Gallery {
        margin-left: 50px;
    }

    .Product__Gallery--stack .PS-dots_01 {
        /*.Product__Gallery--stack .Product__SlideshowNav--dots*/
        left: -30px;
    }

    .PS-dots_01 {
        left: -30px;
        /*同上.Product__Gallery--stack .PS-dots_01  之後有.Product__Gallery--stack要刪掉*/
        display: block;
    }

    .Product__Gallery--stack .Product__SlideItem {
        /*.Product__Gallery--stack .Product__SlideItem*/
        margin-bottom: 30px;
    }

    .Product__Slideshow--zoomable .Product__SlideItem--image {
        /* cursor: url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in.svg?4451) 18 18,-webkit-zoom-in; */
        cursor: url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in.svg?4451) 18 18, -webkit-zoom-in;
        cursor: url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in.svg?4451) 18 18, zoom-in;
        /* cursor: -webkit-image-set(url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in.svg?4451) 1x, url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in-2x.svg?4451) 2x),-webkit-zoom-in; */
        cursor: -webkit-image-set(url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in.svg?4451) 1x, url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in-2x.svg?4451) 2x), -webkit-zoom-in;
        cursor: -webkit-image-set(url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in.svg?4451) 1x, url(//cdn.shopify.com/s/files/1/2023/9563/t/21/assets/cursor-zoom-in-2x.svg?4451) 2x), zoom-in;
    }

    .Product__SlideItem {
        display: block !important;
    }
    /*價錢、規格*/
    .Product__InfoWrapper {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
    }

    .Product__Info {
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        right: 0px;
        width: 375px;
        margin: 0px 100px -40px 50px;
        padding-top: 65px;
        padding-bottom: 40px;
    }

    .Product__Info {
        top: var(--header-height);
    }

    .ProductMeta {
        text-align: left;
    }

    .Product__Aside {
        max-width: 820px;
        padding-left: 50px;
    }

    .Product__Tabs {
        margin: 80px 0;
    }

    .Collapsible__Content {
        padding-right: 80px;
        padding-bottom: 45px;
    }
    /*運貨、退貨*/
    .Collapsible--large .Collapsible__Button {
        padding: 34px 0;
    }
    /*size*/
    .Modal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .Modal--pageContent {
        padding: 100px 0 80px 0;
    }

        .Modal--pageContent .Modal__Content {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0px;
            flex: 1 0 0;
        }

    .Modal__Close:not(.Modal__Close--outside) {
        margin-top: 40px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1240px) {
    /*例外位置*/
    .Product__Info {
        width: 400px;
    }
}

@media screen and (min-width: 1500px) {
    /*例外位置*/
    .Product__Info {
        margin-right: 50px;
    }
}

@media screen and (min-width: 641px) {
    .u-h1, .Rte h1 {
        font-size: 22px;
    }

    .product {
        margin-bottom: 80px;
    }

    .Product__Gallery {
        margin-bottom: 65px;
    }

    .flickity-page-dots .dot {
        width: 10px;
        height: 10px;
        margin: 0 7px;
        border-width: 2px;
    }

    .Container {
        padding: 0 50px;
    }

    .Product__Info .Container {
        padding-left: 0;
        padding-right: 0;
    }

    .VariantSelector {
        top: 50%;
        bottom: auto;
        left: 50%;
        width: 80%;
        padding-bottom: 34px;
        max-height: 100%;
        max-width: 800px;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        overflow: auto;
    }

        .VariantSelector[aria-hidden="false"] {
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 1;
        }

    .VariantSelector__Item {
        padding: 0 25px;
        width: 46%;
    }

    .VariantSelector__Info {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .VariantSelector__ChoicePrice {
        font-size: 13px;
    }
}

@media screen and (max-width: 640px) {
    .Collapsible__Content {
        padding-top: 6px;
        padding-bottom: 28px;
    }

    .TableWrapper {
        margin-right: -24px;
        margin-left: -24px;
    }

        .TableWrapper > .Table, .Rte .TableWrapper > table {
            padding-right: 24px;
            padding-left: 24px;
        }
}

@media screen and (max-width: 1007px) {
    .Collapsible {
        padding: 0 24px;
    }
    /*分享*/
    .hid-pock {
        /*.hidden-pocket*/
        display: none !important;
    }
}
/*# sourceMappingURL=style201905280225.css.map */
